.post {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.40); 
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.40);
}

.postWrapper {
  padding: 20px;
}

.postTop {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.postTopText {
  display: flex;
  flex-direction: column;
}

.postProPic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.postProPic:hover {
  filter: brightness(85%);
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.postUsername:hover {
  text-decoration: underline;
}

.postDate {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
}

.postDropdownHome {
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.40); 
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.40);
  border-radius: 5px;
  height: 50px;
  width: 150px;
  background-color: white;
  margin-top: 20px;
  display: block;
  position: absolute;
  left: 75.5%;
  padding: 5px;
}

.postDropdownProfile {
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.40); 
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.40);
  border-radius: 5px;
  height: 50px;
  width: 150px;
  background-color: white;
  display: block;
  position: absolute;
  left: 50%;
  padding: 5px;
}

.postDropdownEntry {
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-indent: 5px;
}

.postDropdownWidgetHome:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 13px solid rgba(0, 0, 0, 0.1);
  border-right: 13px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: 86%;
}

.postDropdownWidgetHome:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 13px solid #fff;
  border-right: 13px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: 85.8%;
}

.postDropdownWidgetProfile:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 13px solid rgba(0, 0, 0, 0.1);
  border-right: 13px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: 60.4375%;
}

.postDropdownWidgetProfile:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 13px solid #fff;
  border-right: 13px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: 60.3%;
}

.postDropdownEntry:hover {
  background-color: rgb(220, 220, 220);
}

.postDropdownEdit {
  color: rgb(80, 80, 80);
  border-radius: 5px;
}

.postDropdownDelete {
  color: #da1010;
  border-radius: 5px;
}

.postOptions {
  color: #5e5b5b;
  cursor: pointer;
  font-size: xx-large;
  border-radius: 50%;
  padding: 5px;
  justify-content: center;
  margin-top: 12px;
}

.postOptions:focus {
  outline: none;
}

.postOptions:hover {
  background-color: rgb(235, 235, 235);
}

.postCenter {
  margin-top: 5px;
  margin-bottom: 10px;  
}

.postContent {
  margin-top: 10px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  width: 7%;
  display: flex;
  justify-content: space-between;
}

.likeButton {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.likeButton:hover {
  filter: brightness(85%);
}

.postNumLikes {
  font-size: 15px;
  margin-top: 3px;
  margin-left: 0;
}




