.feed {
  flex:5.5;
}

.feedWrapper{
  padding: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  position: sticky;
  top: 300px;
}

.noPostIcon {
  margin-bottom: 10px;
}

.noPosts {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 500;
  color: #6e6a6a;
  margin-top: 15%;
  align-items: center;
  justify-content: center;
  top: 350px;
  position: sticky;
  z-index: 999;
}