.followingbarFollowee {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.followingbarFollowee:hover {
  background-color: rgb(220, 220, 220);
}

.followingbarFolloweeImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}

.followingbarFolloweeName {
  color: rgb(30, 30, 30);
  font-weight: 500;
}